<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{todo_title}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>


<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Update {{todo_title}}</h1>

        <form class="ui form" action="{{ url_for('update_task_post', todo_title=todo_title, todo_id=todo_id) }}" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter new Todo title..." required><br>
            </div>
            <a class="ui blue button" type="submit">Update task</a>
            <a class="ui green button" href="/">Home</a>
        </form>

        <hr>

    </div>
    
</body>
</html>